<div class="content-block">
	<div class="grid-holder">

		<div class="grid1"></div>

		<div class="grid4">
			<p>
				Hi, I'm Taka Kojima, a freelance Frontend Developer located in Los Angeles, CA.
			</p>
			<p>
				I've been doing website development pretty much my entire life. I started playing around with code at age 10 and haven't looked back since.
			</p>
			<p>
				When I'm not hacking away at a keyboard, I'm hitting the slopes, playing dodgeball or teaching my kid about bits and bytes.
			</p>
		</div>

		<div class="grid2">
			<b>Primary Skillset:</b>
			<ul>
				<li>JavaScript</li>
				<li>Flash/Flex/AS3</li>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>SASS</li>
				<li>Ember.js</li>
				<li>Backbone</li>
				<li>node.js</li>
			</ul>
		</div>

		<div class="grid2">

			<b>Also good with:</b>
			<ul>
				<li>Photoshop</li>
				<li>Python</li>
				<li>Django</li>
				<li>PHP</li>
				<li>SQL</li>
			</ul>
		</div>

	<div class="grid1"></div>

	</div>
</div>