<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Taka Kojima - Frontend Developer</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<meta name="viewport" content="width=device-width,initial-scale=1">

		<link rel="stylesheet" href="static/css/style.css">

	</head>

	<body>

		{% raw %}
			<script type="text/x-handlebars">

				<div id="container"> 

					{{view "App.HeaderView"}}

					{{outlet "main"}}

				</div>
			</script>
		{% endraw %}

		{% if DEBUG %}
			<script src="source/js/components/requirejs/require.js"></script>
			<script src="source/js/config.js"></script>

			<script>

				require.config({
					baseUrl : "source/js",
					urlArgs : "cacheBust=" + (new Date()).getTime()
				});
			</script>
	
		{% else %}
	
			<script src="static/js/app.min.js"></script>
	
		{% endif %}

		<script>

            require(["app/App"], function (App) {
            	window.App = App;

            });

		</script>
	</body>
</html>