{% extends "base.html" %}

{% block title %}Taka Kojima - About{% endblock %}

{% block content %}

      <div class="grid-holder">

        <div class="grid1"></div>

        <div class="grid4">
          <p>
            Hi, I'm Taka Kojima, a Senior Frontend Developer working at <a href="http://www.ff0000.com" target="_blank">RED Interactive Agency</a>, located in Santa Monica, CA.
          </p>
          <p>
            I've been doing website development pretty much my entire life. I started playing around with code at age 10 and haven't looked back since.
          </p>
          <p>
            When I'm not hacking away at a keyboard, I'm hitting the slopes, playing dodgeball or teaching my kid about bits and bytes.
          </p>
        </div>

        <div class="grid2">
          <b>Primary Skillset:</b>
          <ul>
            <li>JavaScript</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Flash/Flex/AS3</li>
            <li>Unix</li>
            <li>jQuery</li>
            <li>SASS</li>
          </ul>
        </div>

        <div class="grid2">

          <b>Also good with:</b>
          <ul>
            <li>Photoshop</li>
            <li>Python</li>
            <li>Django</li>
            <li>Node.js</li>
            <li>PHP</li>
            <li>SQL</li>
            <li>Other stuff...</li>
          </ul>
        </div>

      <div class="grid1"></div>

      </div>


{% endblock %}
