{% extends "base.html" %}

{% block title %}Taka Kojima - Contact{% endblock %}

{% block content %}

      <div class="grid-holder">

        <div class="grid10">

          <ul class="icons">            
            <li><a class="icon github" href="https://github.com/gigafied" target="_blank"></a></li>
            <li><a class="icon twitter" href="https://twitter.com/#!/gigafied" target="_blank"></a></li>
            <li><a class="icon linkedin" href="http://www.linkedin.com/in/takaaki" target="_blank"></a></li>
            <li><a class="icon facebook" href="https://www.facebook.com/takak" target="_blank"></a></li>
            <li><a class="icon email" href="mailto:taka@gigafied.com"></a></li>
          </ul>

        </div>
      </div>

{% endblock %}