<div class="content-block">
  <ul class="work">
    <li>

        <div class="grid1"></div>

        <div class="grid4">
          <h3>Star Wars: Moments</h3>
          <p>
            A promotional site for the blu-ray release of<br/><i>Star Wars : The Complete Saga</i>
          </p>
          <p>
            The site enables users to vote, categorize, rate and favorite scenes from their favorite Star Wars films. The Visualizer reflects all user input, with advanced filtering options, users are able to see what scenes other people like and how they stack up to their own favorites.
          </p>
        </div>

        <div class="grid5">
            <img src="static/img/work/moments-starwars.jpg" />
        </div>
    </li>
    
  </ul>
</div>